<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form (ngSubmit)="onLogin()">
    <label for="correoUsuario">Correo</label>
    <input
      type="email"
      id="correoUsuario"
      [(ngModel)]="correoUsuario"
      name="correoUsuario"
      required
    />

    <label for="contrasena">Contraseña</label>
    <input
      type="password"
      id="contrasena"
      [(ngModel)]="contrasena"
      name="contrasena"
      required
    />

    <button type="submit">Ingresar</button>
  </form>

  <p *ngIf="mensaje">{{ mensaje }}</p>
</div>
