<div class="modulo-container">
  <!-- Mensaje de bienvenida -->
  <div class="welcome-message">
    <h2 class="welcome-text">Empresas</h2>
  </div>

  <!-- Botón para volver al módulo anterior -->
  <button class="btn btn-primary volver-btn" (click)="volverAModulo()">Volver a modulos</button>

  <!-- Campo de búsqueda -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar empresa..." />
  </div>

  <!-- Botón azul para abrir modal de "Agregar Empresa" -->
  <button class="btn-add" (click)="openModal()">Agregar Empresa</button>

  <!-- Contenedor de tarjetas -->
  <div class="info-container">
    <div *ngFor="let empresa of filteredEmpresas(); let i = index" class="info-wrapper">
      <div class="info-card"
           [ngClass]="{ 'flipped': empresa.isShowingBack }"
           [ngStyle]="{'background-color': empresa.color_palette}"
           *ngIf="empresa.id_empresa !== undefined" (click)="navigateToIncendio(empresa.nombre_empresa)"> <!-- Cambiado aquí -->

        <!-- Parte delantera de la tarjeta -->
        <div class="info-card-front" *ngIf="!empresa.isShowingBack">
          <p class="empresa-nombre">{{ empresa.nombre_empresa }}</p>

          <div class="action-buttons">
            <button class="btn-delete" title="Eliminar"
                    (click)="openConfirmDeleteModal(empresa); $event.stopPropagation()">
              <mat-icon>delete</mat-icon>
            </button>

            <button class="btn-edit" title="Editar"
                    (click)="openEditModal(empresa); $event.stopPropagation()">
              <mat-icon>edit</mat-icon>
            </button>

            <!-- Botón de Ver Detalles (Mostrar parte trasera mientras está presionado) -->
            <button class="btn-info" title="Ver Detalles"
                    (mousedown)="empresa.isShowingBack = true"
                    (mouseup)="empresa.isShowingBack = false"
                    (mouseleave)="empresa.isShowingBack = false">
              <mat-icon>info</mat-icon>
            </button>
          </div>
        </div>

        <!-- Parte trasera de la tarjeta -->
        <div class="info-card-back" *ngIf="empresa.isShowingBack">
          <p style="font-weight: bold; color: #000000;">NIT: {{ empresa.nit_empresa }}</p>
          <p style="font-weight: bold; color: #000000;">Correo: {{ empresa.correo_empresa }}</p>
          <p style="font-weight: bold; color: #000000;">Contacto: {{ empresa.contacto_empresa }}</p>
          <p style="font-weight: bold; color: #000000;">Número de Póliza: {{ empresa.numero_poliza }}</p>
          <button class="btn-back" (click)="empresa.isShowingBack = false">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para agregar empresa -->
  <div *ngIf="isModalOpen" class="modal">
    <div class="modal-content">
      <h2 class="modal-title" style="text-align: center; color: #388dac;">Agregar Nueva Empresa</h2>
      <form (ngSubmit)="guardarEmpresa()">
        <div class="form-group">
          <label for="nombreEmpresa">Nombre de la empresa</label>
          <input type="text" id="nombreEmpresa" [(ngModel)]="nombreEmpresa" name="nombreEmpresa" required />
        </div>

        <div class="form-group">
          <label for="nitEmpresa">NIT de la empresa</label>
          <input type="text" id="nitEmpresa" [(ngModel)]="nitEmpresa" name="nitEmpresa" required />
        </div>

        <div class="form-group">
          <label for="correoEmpresa">Correo empresarial</label>
          <input type="email" id="correoEmpresa" [(ngModel)]="correoEmpresa" name="correoEmpresa" required />
        </div>

        <div class="form-group">
          <label for="contactoEmpresa">Contacto</label>
          <input type="text" id="contactoEmpresa" [(ngModel)]="contactoEmpresa" name="contactoEmpresa" required />
        </div>

        <div class="form-group">
          <label for="numeroPoliza">Número de póliza</label>
          <input type="text" id="numeroPoliza" [(ngModel)]="numeroPoliza" name="numeroPoliza" required />
        </div>

        <div class="form-group">
          <label for="nombreTabla">Nombre de la tabla</label>
          <input type="text" id="nombreTabla" placeholder="Nombre para su tabla" [(ngModel)]="nombreTabla" name="nombreTabla" required />
        </div>

        <div class="form-group">
          <label for="colorCard">Color de tarjeta</label>
          <input type="color" id="colorCard" [(ngModel)]="colorCard" name="colorCard" required />
        </div>

        <!-- Botones de Cancelar y Guardar -->
        <div class="modal-buttons">
          <button type="button" class="btn-cancel" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="btn-save">Guardar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal de confirmación de eliminación -->
  <div *ngIf="isConfirmDeleteModalOpen" class="confirm-delete-modal">
    <div class="confirm-delete-modal-content">
      <h2>¿Está seguro de que desea eliminar esta empresa?</h2>
      <p class="nombre-empresa-modal">{{ empresaAEliminar?.nombre_empresa }}</p>
      <div class="confirm-delete-modal-buttons">
        <button class="btn-confirm-delete-cancel" (click)="closeConfirmDeleteModal()">No</button>
        <button class="btn-confirm-delete-confirm" (click)="confirmDelete()">Sí</button>
      </div>
    </div>
  </div>

  <!-- Modal para editar empresa -->
  <div *ngIf="isEditModalOpen" class="modal">
    <div class="modal-content">
      <h2 class="modal-title">Editar Empresa</h2>
      <form (ngSubmit)="guardarEdicion()">
        <div class="form-group">
          <label for="editNombreEmpresa">Nombre de la empresa</label>
          <input type="text" id="editNombreEmpresa" [(ngModel)]="empresaEdicion.nombre_empresa" name="editNombreEmpresa" required />
        </div>

        <div class="form-group">
          <label for="editNitEmpresa">NIT de la empresa</label>
          <input type="text" id="editNitEmpresa" [(ngModel)]="empresaEdicion.nit_empresa" name="editNitEmpresa" required />
        </div>

        <div class="form-group">
          <label for="editCorreoEmpresa">Correo empresarial</label>
          <input type="email" id="editCorreoEmpresa" [(ngModel)]="empresaEdicion.correo_empresa" name="editCorreoEmpresa" required />
        </div>

        <div class="form-group">
          <label for="editContactoEmpresa">Contacto</label>
          <input type="text" id="editContactoEmpresa" [(ngModel)]="empresaEdicion.contacto_empresa" name="editContactoEmpresa" required />
        </div>

        <div class="form-group">
          <label for="editNumeroPoliza">Número de póliza</label>
          <input type="text" id="editNumeroPoliza" [(ngModel)]="empresaEdicion.numero_poliza" name="editNumeroPoliza" required />
        </div>

        <div class="form-group">
          <label for="editNombreTabla">Nombre de la tabla</label>
          <input type="text" id="editNombreTabla" [(ngModel)]="empresaEdicion.nombre_tabla" name="editNombreTabla" required />
        </div>

        <div class="form-group">
          <label for="editColorCard">Color de tarjeta</label>
          <input type="color" id="editColorCard" [(ngModel)]="empresaEdicion.color_palette" name="editColorCard" required />
        </div>

        <!-- Botones de Cancelar y Guardar -->
        <div class="modal-buttons">
          <button type="button" class="btn-cancel" (click)="closeEditModal()">Cancelar</button>
          <button type="submit" class="btn-save">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
