/* home.component.scss */
// Variables
$header-height: 60px;
$sidebar-width: 200px;

// Mixins
@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// Animaciones
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

// Estilos principales
.home {
  display: fixed;
  background: rgba(0, 0, 0, 0.34) url('/assets/FONDO.webp') no-repeat center center / cover; // Fondo combinado
  background-color: rgba(0, 0, 0, 0.137);
  position: fixed;
  top: 0px; // Ajusta esto según la altura de tu header
  left: 0;
  right: 0;
  bottom: 0;
}

.main-content {
  width: calc(100% - 350px); // 350px es el ancho de la barra lateral
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 60px; // Altura del encabezado
  left: 350px; // Ancho de la barra lateral
  right: 0;
  bottom: 0;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0;
}

.welcome-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  padding: 20px;
  box-sizing: border-box;
}

.carousel-container {
  width: calc(100% - 350px); // Ancho inicial
  height: 100vh;
  padding: 0;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 350px; // Posición inicial
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
}

// Ajustamos el carrusel y las diapositivas para ocupar todo el espacio disponible
.carousel, .carousel-inner, .carousel-item {
  height: 100%;
}

// Ajustamos el carrusel cuando el sidebar está colapsado
body.sidebar-collapsed .carousel-container {
  width: calc(100% - 70px); // Nuevo ancho cuando el sidebar está colapsado
  left: 70px; // Nueva posición cuando el sidebar está colapsado
}

// Media query para dispositivos móviles
@media (max-width: 768px) {
  .carousel-container,
  body.sidebar-collapsed .carousel-container {
    width: 100%;
    left: 0;
  }
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: 300%; // 100% por cada slide (3 slides en total)
  height: 100%;
}

.carousel-slide {
  flex: 0 0 33.333%; // Cada slide ocupa 1/3 del ancho total del carrusel
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card {
  width: 80%; // Ajusta este valor según tus necesidades
  max-width: 600px; // Opcional: limita el ancho máximo
  padding: 20px;
  text-align: center;
  box-sizing: border-box;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
  }
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  z-index: 10;

  &.prev {
    left: 20px;
  }

  &.next {
    right: 20px;
  }
}

// Media queries
@media (max-width: 768px) {
  .info-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .info-card {
    width: 100%;
  }
}

// Añade esta media query para ajustar cuando el sidebar esté colapsado
@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
    left: 0;
  }
}

