<div class="home">
  <main class="main-content">
    <div class="welcome-message">
      <h1>Bienvenido a la aplicación</h1>
      <p>Explora los diferentes módulos y funcionalidades.</p>
    </div>
    <section class="carousel-container">
      <div class="carousel">
        <div class="carousel-slide">
          <div class="info-card">
            <h2>Módulos</h2>
            <p>En esta sección puedes gestionar los distintos módulos disponibles.</p>
          </div>
        </div>
        <div class="carousel-slide">
          <div class="info-card">
            <h2>Propósito</h2>
            <p>Esta página se ha creado para satisfacer las necesidades de nuestros usuarios, permitiéndoles gestionar sus seguros de manera eficiente y personalizada.</p>
          </div>
        </div>
        <div class="carousel-slide">
          <div class="info-card">
            <h2>Ajustes</h2>
            <p>Ajusta las configuraciones de tu cuenta y preferencias.</p>
          </div>
        </div>
      </div>
      <button class="carousel-button prev" (click)="prevSlide()">&lt;</button>
      <button class="carousel-button next" (click)="nextSlide()">&gt;</button>
    </section>
  </main>
</div>







