/* home.component.scss */
// Variables
$header-height: 60px;
$sidebar-width: 200px;

// Mixins
@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

// Estilos principales
.home {
  background: rgba(0, 0, 0, 0.34) url('/assets/FONDO.webp') no-repeat center center / cover; // Fondo combinado
  background-color: rgba(0, 0, 0, 0.137);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-content {
  width: calc(100% - 350px); // 350px es el ancho de la barra lateral
  padding: 2rem;
  position: absolute;
  top: 60px; // Altura del encabezado
  left: 350px; // Ancho de la barra lateral
  right: 0;
  bottom: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

.welcome-message {
  display: flex;
  align-items: center; // Centra verticalmente el logo con el texto
  margin-bottom: 20px;
  background-color: transparent;
}

.logo {
  max-width: 150px; // Tamaño máximo para el logo
}

.text-container {
  margin-left: 20px;
}

.welcome-title {
  color: #388dac; // Color del texto 'Bienvenido a la aplicación'
  font-size: 2rem;
  margin: 0;
}

.carousel-container {
  width: calc(100% - 350px); // Ancho inicial
  height: 100vh;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 350px; // Posición inicial
  overflow: hidden;
  box-sizing: border-box;
}

// Ajustamos el carrusel
.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: 300%; // 100% por cada slide (3 slides en total)
  height: 100%;
}

.carousel-slide {
  flex: 0 0 33.333%; // Cada slide ocupa 1/3 del ancho total del carrusel
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  z-index: 10;

  &.prev {
    left: 20px;
  }

  &.next {
    right: 20px;
  }
}

// Media queries
@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 480px) {
  .info-card {
    width: 100%;
  }
}
