

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Estilo principal para el contenido */
.main-content {
  margin-top: 80px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  margin-left: 220px;
  padding: 20px;
}

.main-content.expanded {
  margin-left: 80px;
}

/* Ajusta este valor según el ancho de tu sidebar */
.main-content:not(.expanded) {
  margin-left: 220px;
}
