<header class="header d-flex justify-content-between align-items-center px-4">
  <div class="logo">
    <!-- <img src="assets/logo-auras_150.png" alt="Logo" class="img-fluid"> -->
    <h1>
      <span style="color: #388dac;">Auras</span> <span style="color: #ffff;">Seguros...</span>
    </h1>
  </div>

  <!-- Divisor SVG añadido -->
  <div class="header-divider">
    <img src="assets/header.svg" alt="Divisor" class="w-100">
  </div>

  <div class="user-info d-flex align-items-center">
    <span class="user-initials me-3">AF</span>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle shadow" style="border: 1px solid #3e3f414d;" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="user-name">Alexander Flores</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" (click)="goToPerfil()">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item">Adimistrador</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item">Colaborador</a></li>
      </ul>
    </div>
  </div>
</header>
