<header class="header d-flex justify-content-between align-items-center px-4">
  <div class="logo">
    <img src="assets/logo-auras_150.png" alt="Logo" class="img-fluid">
    <h1>
      <span style="color: #388dac;">Auras</span> <span style="color: #ffff;">Seguros</span>
    </h1>
  </div>

  <!-- Divisor SVG añadido -->
  <div class="header-divider">
    <img src="assets/header.svg" alt="Divisor" class="w-100">
  </div>

  <div class="user-info d-flex align-items-center">
    <span class="user-initials me-3">AF</span>
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle shadow" style="border: 1px solid #3e3f414d;" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="user-name">Alexander Flores</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        <li><a class="dropdown-item" (click)="goToPerfil()">Perfil</a></li>
        <li><a class="dropdown-item" (click)="goToConfiguraciones()">Configuraciones</a></li>
        <li><hr class="dropdown-divider"></li>
        <!-- Botón de Cerrar Sesión actualizado para abrir el modal -->
        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- Modal de Confirmación -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Confirmación de Cierre de Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Está seguro de que desea cerrar sesión?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="confirmLogout()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</div>
