<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="flecha-icon">
    <div (click)="toggleSidebar()" class="flecha-container">
      <img src="assets/flecha.svg" [class.rotated]="!isCollapsed" alt="Toggle sidebar" class="flecha-svg">
    </div>
  </div>

  <nav class="nav flex-column">
    <ul class="list-unstyled m-0 p-0">
      <li>
        <a routerLink="/inicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link d-flex align-items-start">
          <mat-icon>home</mat-icon><span class="nav-text ms-2">Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="/modulo" routerLinkActive="active" class="nav-link d-flex align-items-center">
          <mat-icon>view_module</mat-icon><span class="nav-text ms-2">Módulos</span>
        </a>
      </li>
      <li>
        <a routerLink="/ajustes" routerLinkActive="active" class="nav-link d-flex align-items-center">
          <mat-icon>settings</mat-icon><span class="nav-text ms-2">Ajustes</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="mt-auto">
    <a (click)="onLogout()" class="nav-link  logout-link">
      <mat-icon>exit_to_app</mat-icon><span class="nav-text ms-2">Salir</span>
    </a>
  </div>

  <!-- Modal de confirmación -->
  <div class="modal-backdrop" *ngIf="showModal">
    <div class="modal-content">
      <h2>¿Estás seguro de cerrar la sesión?</h2>
      <div class="modal-actions">
        <button class="btn btn-danger" (click)="confirmLogout()">Sí</button>
        <button class="btn btn-primary" (click)="cancelLogout()">No</button>
      </div>
    </div>
  </div>
</aside>
