/* home.component.scss */
.home {
  display: fixed;
  background: rgba(0, 0, 0, 0.34) url('/assets/FONDO.webp') no-repeat center center / cover; // Fondo combinado
  background-color: rgba(0, 0, 0, 0.137);
  position: fixed;
  top: 0px; // Ajusta esto según la altura de tu header
  left: 0;
  right: 0;
  bottom: 0;


.main-content {
  width: calc(100% - 250px); // Ancho inicial
  height: calc(100vh - 60px); // Altura total de la ventana menos la altura del encabezado
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  position: fixed; // Cambiado de absolute a fixed
  top: 60px; // Altura del encabezado
  left: 250px; // Posición inicial
  right: 0;
  bottom: 0;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0;
}

  // Ajuste cuando el sidebar está colapsado
  &.sidebar-collapsed .main-content {
    width: calc(100% - 70px); // Nuevo ancho cuando el sidebar está colapsado
    margin-left: 70px; // Nueva posición cuando el sidebar está colapsado
    left: 70px;
  }

  .info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  .info-card {
    width: calc(25% - 40px);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    color: white;
  }

  .info-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .info-card:nth-child(1) {
    background-color: #1E90FF;
  }

  .info-card:nth-child(2) {
    background-color: #32CD32;
  }

  .info-card:nth-child(3) {
    background-color: #FFA500;
  }

  .info-card:nth-child(4) {
    background-color: #FF4500;
  }

  .info-card:nth-child(5) {
    background-color: #6A5ACD;
  }
}

// Media query para dispositivos móviles
@media (max-width: 768px) {
  .home {
    .main-content {
      width: 100%;
      left: 0;
    }
  }
}
