<div class="modulo-container">
  <!-- Mensaje de bienvenida -->
  <div class="welcome-message">
    <h2 class="welcome-text">Bienvenido a Módulos</h2>
  </div>

  <!-- Campo de búsqueda -->
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar modulo..." />
  </div>

 <!-- Tarjeta mejorada para "Incendio" -->
<div class="info-card info-card-incendio" [routerLink]="['/empresas']" routerLinkActive="active">
  <h4>Incendio</h4>
  <p>Este módulo brinda informacion relacionada con incidentes sobre incendios,
    aqui podrás moverte libremente entre las empresas y realizar los cambios necesarios dentro de las tablas selectas.</p>
</div>

