<div class="container">
    <main class="main-content">
      <h2 class="mb-4">Historial</h2>
 <!-- Botón para regresar -->
  <button (click)="regresar()" class="btn btn-primary mt-4">Regresar</button>
<!-- historial.component.html -->
<div>
  <table>
    <thead>
      <tr>
        <th>Tabla Afectada</th>
        <th>ID Registro</th>
        <th>Campo Editado</th>
        <th>Valor Anterior</th>
        <th>Valor Nuevo</th>
        <th>Usuario</th>
        <th>Fecha de Edición</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of historial">
        <td>{{ registro.tabla_afectada }}</td>
        <td>{{ registro.id_registro }}</td>
        <td>{{ registro.campo_editado }}</td>
        <td>{{ registro.valor_anterior }}</td>
        <td>{{ registro.valor_nuevo }}</td>
        <td>{{ registro.usuario }}</td>
        <td>{{ registro.fecha_edicion | date:'medium' }}</td>
      </tr>
    </tbody>
  </table>
</div>
