/* Estilos de la tabla de historial de ediciones */
table {
  width: 100%;
  border-collapse: separate; /* Permite espacio entre bordes */
  border-spacing: 0; /* Espaciado entre celdas */
  margin-top: 20px;
  background-color: #ffffff; /* Fondo blanco para contraste */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que el contenido se mantenga dentro de los bordes redondeados */
}

thead {
  background-color: #1E90FF; /* Color de fondo para la cabecera */
  color: white; /* Color de texto de la cabecera */
  text-align: left; /* Alineación del texto */
}

th, td {
  padding: 12px 15px; /* Espaciado interno */
  border: 1px solid #ddd; /* Borde alrededor de cada celda */
}

tr {
  border: 1px solid #ddd; /* Borde alrededor de cada fila */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Color de fondo alterno para filas pares */
}

tbody tr:hover {
  background-color: #f1f1f1; /* Fondo al pasar el mouse */
  transition: background-color 0.3s; /* Transición suave al cambiar el fondo */
}

td {
  color: #333; /* Color de texto */
}

.container {
  .main-content {
    position: fixed; /* Fija el main en la ventana */
    top: 80px; /* Alinea con el header */
    left: 250px; /* Alinea con el sidebar */
    right: 0; /* Alinea al borde derecho */
    bottom: 0; /* Alinea al borde inferior */
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto; /* Permite el desplazamiento vertical del contenido */
    box-sizing: border-box;
  }
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.info-card {
  width: calc(25% - 40px);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  color: white;
}

.info-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.info-card:nth-child(1) {
  background-color: #1E90FF;
}

.info-card:nth-child(2) {
  background-color: #32CD32;
}

.info-card:nth-child(3) {
  background-color: #FFA500;
}

.info-card:nth-child(4) {
  background-color: #FF4500;
}

.info-card:nth-child(5) {
  background-color: #6A5ACD;
}
