<div class="ajuste-container">
  <div class="welcome-message">
    <div class="contenedor">
      <!-- Barra lateral izquierda: Perfil y Navegación -->
      <div class="barra-lateral">
        <div class="perfil">
          <img src="perfil.jpg" alt="Foto de Perfil" class="foto-perfil">
          <!-- Imagen de perfil -->
          <h2>name user</h2>
          <!-- Nombre del usuario -->
          <p>Exmpleauraseguro.com</p>
          <!-- Puesto del usuario -->
        </div>
        <!-- Botón con enrutamiento -->
        <button class="btn-contraseña" [routerLink]="['/cambiar-contra']" routerLinkActive="active">Cambiar
          contraseña</button>
      </div>
    </div>
  </div>
</div>